<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
	</head>
	<body>
		<!--Add review form here -->
		<div class='container'>
			<h2>Add a review about {{ dealer.full_name }} </h2>
			<form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
				{% csrf_token %}
				<b>Enter the review content:</b>
				<div class="form-group">
					<b>Your name:</b> <input type="text" name="name" id="name" required />
				</div>
				<div class="form-group">
					<textarea class="form-control" name="content" id='content' rows='2' required></textarea>
				</div>
				<div class="form-group">
					<input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck" /> Has purchased the car from Sub-Ex Car Dealership? <span style='color:grey'>(select purchased car information below if checked)</span><br/>
				</div>

				<div class="form-group">
					<b>Select your car (model-make-year): </b><select name="car" id="car" class="form-select" required>
						{% for car in cars %}
						<option selected value="{{car.name}}-{{car.make.name}}-{{ car.year|date:'Y' }}">{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<b>Select your Purchase date</b>
					<input class="date-own form-control" type="text" name="purchasedate" />
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</body>
	<script type="text/javascript">
		$('.date-own').datepicker({
					format: 'mm/dd/yyyy'
				});
	</script>
</html>
